<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-customer-heading" data-cy="CustomerCreateUpdateHeading">Create or edit a Customer</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fullname">Fullname</label>
          <select class="form-control" id="field_fullname" data-cy="fullname" name="fullname" formControlName="fullname">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="fullnameOption.id === editForm.get('fullname')!.value?.id ? editForm.get('fullname')!.value : fullnameOption"
              *ngFor="let fullnameOption of fullnamesCollection; trackBy: trackFullnameById"
            >
              {{ fullnameOption.lastName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_orders">Orders</label>
          <select class="form-control" id="field_orders" data-cy="orders" name="orders" formControlName="orders">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="ordersOption.id === editForm.get('orders')!.value?.id ? editForm.get('orders')!.value : ordersOption"
              *ngFor="let ordersOption of ordersSharedCollection; trackBy: trackOrdersById"
            >
              {{ ordersOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_address">Address</label>
          <select class="form-control" id="field_address" data-cy="address" name="address" formControlName="address">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="addressOption.id === editForm.get('address')!.value?.id ? editForm.get('address')!.value : addressOption"
              *ngFor="let addressOption of addressesSharedCollection; trackBy: trackAddressById"
            >
              {{ addressOption.location }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_payment">Payment</label>
          <select class="form-control" id="field_payment" data-cy="payment" name="payment" formControlName="payment">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="paymentOption.id === editForm.get('payment')!.value?.id ? editForm.get('payment')!.value : paymentOption"
              *ngFor="let paymentOption of paymentsSharedCollection; trackBy: trackPaymentById"
            >
              {{ paymentOption.code }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
